<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="/src/styles.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <span class="navbar-brand mb-0 text-primary h1">Portfolio</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto justify-content-between">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stocks">Stocks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/fund">Mutual Funds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/net-worth">Assets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/" (click)=" logout()">Logout</a>
        </li>
      </ul>
    </div>
</nav>
 <div class="wrapper fadeInDown">
    <div id="formContent">
      <p style="margin: 10px 10px 10px 10px ; ">Welcome</p>
    </div>
</div>
